.accordion__list {
    margin-top: 32px;
}

.accordion__list_item {
    padding: 32px;
    border: 1px solid var(--color-border);
    background: rgba(170, 170, 170, 0);
}

.list__item_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__item_title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: 147%;
    text-align: center;
    color: var(--color-dark-text);
}

.list__item_text {
    display: inline-block;
    margin-top: 50px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    line-height: 147%;
    color: var(--color-tab-gold);
}

.list__item_btn {
    background: none;
    border: none;
}

.item__btn_icon {
    transform: rotate(180deg);
}
.item__btn_icon_expanded {
    transition: transform 0.2s ease;
    transform: rotate(360deg);
}
