.map__section {
    padding-top: 50px;
}

.map__title {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h2);
    line-height: 167%;
    text-align: center;
    color: #1c1c1c;
}

.map__subtitle {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: 313%;
    text-align: center;
    color: var(--color-dark-text);
}

.map__img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 50px auto 0 auto;
}

@media (max-width: 919px) {
    .map__section {
        padding-top: 40px;
    }

    .map__title {
        font-size: var(--font-size-h3);
    }

    .map__subtitle {
        font-size: var(--font-size-sm);
    }

    .map__img {
        margin-top: 36px;
    }
}

@media (max-width: 499px) {
    .map__title {
        font-size: var(--font-size-lg);
        line-height: 140%;
    }

    .map__subtitle {
        font-size: var(--font-size-xs);
    }

    .map__img {
        margin-top: 28px;
    }
}
