.news__section {
    padding-top: 50px;
}

.news__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 167%;
    text-align: center;
    color: #000;
}

.news__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 313%;
    text-align: center;
    color: #2d3748;
}

.news__block {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media (max-width: 1299px) {
    .news__section {
        padding-top: 45px;
    }

    .news__title {
        font-size: 28px;
    }

    .news__subtitle {
        font-size: 15px;
    }

    .news__block {
        margin-top: 40px;
    }
}

@media (max-width: 919px) {
    .news__section {
        padding-top: 40px;
    }

    .news__title {
        font-size: 26px;
    }

    .news__subtitle {
        font-size: 14px;
    }

    .news__block {
        margin-top: 35px;
        gap: 40px;
    }
}

@media (max-width: 599px) {
    .news__section {
        padding-top: 35px;
    }

    .news__title {
        font-size: 24px;
    }

    .news__subtitle {
        font-size: 13px;
    }

    .news__block {
        margin-top: 30px;
        gap: 35px;
    }
}

@media (max-width: 499px) {
    .news__section {
        padding-top: 30px;
    }

    .news__title {
        font-size: 22px;
    }

    .news__subtitle {
        font-size: 13px;
    }

    .news__block {
        margin-top: 25px;
        gap: 30px;
    }
}
