.features__list_item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.list__item_text {
    font-family: var(--second-family);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
    line-height: 214%;
    color: var(--color-gray-text);
}

@media (max-width: 499px) {
    .features__list_item {
        gap: 10px;
    }

    .list__item_text {
        font-size: var(--font-size-xs);
        line-height: 180%;
    }
}
