.footer {
    margin-top: 100px;
    padding: 90px 0;
    background-color: #efecec;
}

.footer__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__header_contacts {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.footer__contacts_tel {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    line-height: 147%;

    color: var(--color-black);
}

.footer__contacts_email {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: 147%;
    letter-spacing: 0.02em;

    color: var(--color-subtle-text);
}

.footer__inner {
    margin-top: 32px;
}

.footer__inner::after {
    margin-top: 30px;
    display: block;
    content: '';
    border: 2px solid rgba(255, 255, 255, 0.81);
    max-width: 1300px;
    width: 100%;
}

.footer__menu_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 32px;
}

.footer__menu_item {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: 147%;
    letter-spacing: 0.02em;

    color: var(--color-black);
}

.footer__policy {
    margin-top: 30px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: 147%;
    letter-spacing: 0.02em;
    color: var(--color-subtle-text);
}

@media (max-width: 1299px) {
    .footer__contacts_tel {
        font-size: 26px;
    }
}

@media (max-width: 919px) {
    .footer {
        padding: 60px 0;
    }

    .footer__header {
        flex-direction: column;
        gap: 24px;
    }

    .footer__contacts_tel {
        font-size: var(--font-size-h3);
    }

    .footer__inner {
        margin-top: 24px;
    }
}

@media (max-width: 499px) {
    .footer {
        padding: 48px 0;
    }

    .footer__contacts_tel {
        font-size: var(--font-size-lg);
    }

    .footer__contacts_email {
        font-size: var(--font-size-sm);
    }

    .footer__menu_list {
        flex-direction: column;
        gap: 8px;
    }

    .footer__menu_item {
        font-size: var(--font-size-sm);
    }

    .footer__policy {
        font-size: var(--font-size-xs);
        margin-top: 24px;
    }
}
