.btn {
    max-width: 165px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
    line-height: 112%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
    padding: 15px;
    border-radius: 16px;
    border: none;
    background: #003cff;
    cursor: pointer;
}

.btn:hover {
    background: #7796c0;
    transition: 0.3s all;
}

@media (max-width: 919px) {
    .btn {
        padding: 14px;
        font-size: 15px;
        border-radius: 14px;
    }
}

@media (max-width: 499px) {
    .btn {
        padding: 12px;
        font-size: var(--font-size-sm);
        border-radius: 12px;
    }
}
