.sign__docs_wrapper {
    padding-top: 100px;
}

.sign__docs_header {
    display: flex;
    align-items: center;
    gap: 120px;
}

.sign__docs_title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    line-height: 112%;
    text-align: center;
    color: var(--color-dark-text);
}

.sign__docs_step {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: 112%;
    text-align: center;
    color: var(--color-black);
}

.sign__docs_text {
    margin-top: 32px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-lg);
    line-height: 112%;
    color: var(--color-gray-text);
}

.sign__docs_link {
    display: flex;
    margin-top: 32px;
    align-items: center;
    gap: 12px;
}

.docs__link_text {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-md);
    line-height: 112%;
    color: var(--color-black);
}

.sign__docs_footer {
    margin-top: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 80px;
}

.docs__footer_btn {
    max-width: 160px;
    width: 100%;
}

.docs__footer_btn:disabled {
    background: #7796c0;
}

@media (max-width: 919px) {
    .sign__docs_wrapper {
        padding-top: 60px;
    }

    .sign__docs_header {
        gap: 40px;
    }

    .sign__docs_title {
        font-size: var(--font-size-h3);
    }

    .sign__docs_text {
        font-size: var(--font-size-md);
    }
}

@media (max-width: 599px) {
    .sign__docs_wrapper {
        padding-top: 40px;
    }

    .sign__docs_header {
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }

    .sign__docs_title {
        font-size: var(--font-size-lg);
    }

    .sign__docs_text {
        font-size: var(--font-size-base);
    }

    .sign__docs_footer {
        flex-direction: column;
        gap: 16px;
        align-items: stretch;
    }

    .docs__footer_btn {
        max-width: 100%;
    }
}
