.slider__swapper_btn {
    border-radius: 100%;
    border: none;
    padding: 20px;
}

.slider__swapper_btn svg {
    width: 25px;
    height: 25px;
    display: block;
    color: white;
}

.slider__swapper_btn:hover {
    transform: scale(1.1);
}

.slider__swapper_btn:disabled {
    background: #ccc;
    border: 1px solid #003cff;
    cursor: not-allowed;
    opacity: 0.5;
}

.slider__swapper_btn:disabled:hover {
    transform: none;
}

.slider__swapper_btn:disabled svg {
    color: black;
}

@media (max-width: 919px) {
    .slider__swapper_btn {
        padding: 18px;
    }
}

@media (max-width: 599px) {
    .slider__swapper_btn {
        padding: 16px;
    }
}

@media (max-width: 499px) {
    .slider__swapper_btn {
        padding: 14px;
    }
}
