.faq__section {
    padding-top: 40px;
}

.faq__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    line-height: 147%;
    color: var(--color-black);
}

.faq__title:last-of-type {
    margin-top: 32px;
}

@media (max-width: 919px) {
    .faq__title {
        font-size: var(--font-size-h3);
    }
}

@media (max-width: 599px) {
    .faq__title {
        font-size: var(--font-size-lg);
    }

    .faq__title:last-of-type {
        margin-top: 24px;
    }
}
