.scoring__decision {
    margin-top: 100px;
}

.scoring__decision_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 112%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #1c1c1e;
}

.scoring__decision_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #4f5665;
}
