.scoring__decision {
    margin-top: 100px;
}

.scoring__decision_title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    line-height: 112%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-dark-text);
}

.scoring__decision_text {
    margin-top: 10px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: 112%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-gray-text);
}

@media (max-width: 919px) {
    .scoring__decision {
        margin-top: 60px;
    }

    .scoring__decision_title {
        font-size: var(--font-size-h3);
    }
}

@media (max-width: 599px) {
    .scoring__decision {
        margin-top: 40px;
    }

    .scoring__decision_title {
        font-size: var(--font-size-lg);
    }
}
