.subscribe__form_btn {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #686df1;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    line-height: 1;
}

.form__btn_text {
    font-weight: 700;
    font-size: 16px;
    line-height: inherit;
    color: #fff;
}
