.customize__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.customize__card_block {
    padding-right: 40px;
    max-width: 610px;
    border-right: 1px dashed rgba(128, 128, 128, 0.4);
}

.card__block_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block__header_title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    line-height: 100%;
    color: var(--color-black);
}

.block__header_step {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: 100%;
    color: var(--color-black);
}

/* Slider */

.card__block_slider {
    margin-top: 30px;
}

.contact__info_title {
    margin-top: 30px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: 100%;
    color: var(--color-black);
}

/* Form */

.contact__form {
    margin-top: 25px;
}

.contact__form_inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.contact__form_btn {
    margin-top: 20px;
    margin-left: auto;
    display: block;
}

@media (max-width: 1299px) {
    .customize__card {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .customize__card_block {
        padding-right: 0;
        max-width: 100%;
        border-right: none;
        border-bottom: 1px dashed rgba(128, 128, 128, 0.4);
        padding-bottom: 24px;
    }
}

@media (max-width: 919px) {
    .block__header_title {
        font-size: var(--font-size-h3);
    }

    .block__header_step {
        font-size: var(--font-size-sm);
    }

    .contact__form_inner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 599px) {
    .block__header_title {
        font-size: var(--font-size-lg);
    }

    .contact__form_inner {
        grid-template-columns: 1fr;
    }
}
