.input__wrapper {
    position: relative;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__input {
    padding: 13px;
    border: 2px solid rgba(128, 128, 128, 0.2);
    border-radius: 6px;
    background: #f9f5e3;
    width: 100%;
    height: 50px;
}

.form__input:focus {
    border-color: var(--color-accent);
    outline: none;
}

.form__input_error {
    border-color: red;
}

.form__input_success {
    border-color: var(--color-accent);
}

.input__error_icon,
.input__success_icon {
    position: absolute;
    right: 10px;
}

@media (max-width: 599px) {
    .form__input {
        padding: 10px;
        height: 44px;
        font-size: var(--font-size-sm);
    }

    .input__wrapper {
        margin-top: 6px;
    }
}
