.subscribe__section {
    padding-top: 65px;
}

.subscribe__support {
    display: block;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h3);
    line-height: 147%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #eb801d;
}

.subscribe__title {
    margin-top: 30px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-dark-text);
}

.subscribe__subtitle {
    margin-top: 25px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h2);
    line-height: 147%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-dark-text);
}

@media (max-width: 1299px) {
    .subscribe__title {
        font-size: 26px;
    }

    .subscribe__subtitle {
        font-size: 26px;
    }
}

@media (max-width: 919px) {
    .subscribe__section {
        padding: 50px 0 70px 0;
    }

    .subscribe__support {
        font-size: var(--font-size-lg);
    }

    .subscribe__title {
        font-size: 22px;
        margin-top: 24px;
    }

    .subscribe__subtitle {
        font-size: 22px;
        margin-top: 20px;
    }
}

@media (max-width: 499px) {
    .subscribe__section {
        padding: 40px 0 60px 0;
    }

    .subscribe__support {
        font-size: var(--font-size-md);
    }

    .subscribe__title {
        font-size: var(--font-size-lg);
        margin-top: 20px;
    }

    .subscribe__subtitle {
        font-size: var(--font-size-md);
        margin-top: 16px;
        line-height: 140%;
    }
}
