.subscribe__section {
    padding-top: 65px;
}

.subscribe__support {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 147%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #eb801d;
}

.subscribe__title {
    margin-top: 30px;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #1c1c1e;
}

.subscribe__subtitle {
    margin-top: 25px;
    font-weight: 500;
    font-size: 30px;
    line-height: 147%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #1c1c1e;
}

@media (max-width: 1299px) {
    .subscribe__title {
        font-size: 26px;
    }

    .subscribe__subtitle {
        font-size: 26px;
    }
}

@media (max-width: 919px) {
    .subscribe__section {
        padding: 50px 0 70px 0;
    }

    .subscribe__support {
        font-size: 20px;
    }

    .subscribe__title {
        font-size: 22px;
        margin-top: 24px;
    }

    .subscribe__subtitle {
        font-size: 22px;
        margin-top: 20px;
    }
}

@media (max-width: 499px) {
    .subscribe__section {
        padding: 40px 0 60px 0;
    }

    .subscribe__support {
        font-size: 18px;
    }

    .subscribe__title {
        font-size: 20px;
        margin-top: 20px;
    }

    .subscribe__subtitle {
        font-size: 18px;
        margin-top: 16px;
        line-height: 140%;
    }
}
