.card__instruction_section {
    padding-top: 90px;
}

.card__instruction_title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    line-height: 147%;
    text-align: center;
    color: var(--color-black);
}

.card__instruction_wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
}

@media (max-width: 1299px) {
    .card__instruction_wrapper {
        gap: 40px;
    }
}

@media (max-width: 919px) {
    .card__instruction_section {
        padding-top: 60px;
    }

    .card__instruction_title {
        font-size: var(--font-size-h3);
    }

    .card__instruction_wrapper {
        flex-direction: column;
        gap: 24px;
    }
}

@media (max-width: 599px) {
    .card__instruction_title {
        font-size: var(--font-size-lg);
    }
}
