.offers__section {
    padding-top: 50px;
}

.offers__wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
}

.offers__item {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 0 8px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    border-radius: 28px;
}

.offers__item_inner {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.item__point {
    font-weight: 500;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #1c1c1e;
}

.item__insurance,
.item__salary {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.offers__item_btn {
    margin-top: 90px;
    width: 100%;
}

@media (max-width: 1299px) {
    .offers__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .offers__item {
        flex: 1 1 calc(50% - 40px);
        min-width: 280px;
    }
}

@media (max-width: 919px) {
    .offers__section {
        padding-top: 30px;
    }

    .offers__wrapper {
        gap: 20px;
    }
}

@media (max-width: 599px) {
    .offers__wrapper {
        flex-direction: column;
    }

    .offers__item {
        width: 100%;
    }

    .offers__item_btn {
        margin-top: 40px;
    }
}
