.docs__formed {
    padding-top: 100px;
    text-align: center;
}

.docs__formed_title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    line-height: 112%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-dark-text);
}

.docs__formed_text {
    margin-top: 32px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: 112%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-gray-text);
}

@media (max-width: 919px) {
    .docs__formed {
        padding-top: 60px;
    }

    .docs__formed_title {
        font-size: var(--font-size-h3);
    }
}

@media (max-width: 599px) {
    .docs__formed {
        padding-top: 40px;
    }

    .docs__formed_title {
        font-size: var(--font-size-lg);
    }
}
