.instruction__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 375px;
}

.instruction__block_header {
    display: flex;
    align-items: center;
    gap: 35px;
}

.block__header_step {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    line-height: 147%;
    text-align: center;
    color: var(--color-black);
    background: #d9d9d9;
    border-radius: 50px;
    padding: 8px 16px;
}

.instruction__block_text {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: 147%;
    text-align: center;
    color: var(--color-black);
    word-break: break-word;
}

@media (max-width: 1299px) {
    .instruction__block {
        max-width: 300px;
    }
}

@media (max-width: 919px) {
    .instruction__block {
        max-width: 100%;
        width: 100%;
    }

    .instruction__block_text {
        font-size: var(--font-size-sm);
    }
}

@media (max-width: 599px) {
    .block__header_step {
        font-size: var(--font-size-base);
    }

    .instruction__block_text {
        font-size: var(--font-size-xs);
        text-align: left;
    }
}
