.instruction__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 375px;
}

.instruction__block_header {
    display: flex;
    align-items: center;
    gap: 35px;
}

.block__header_step {
    font-weight: 700;
    font-size: 20px;
    line-height: 147%;
    text-align: center;
    color: #000;
    background: #d9d9d9;
    border-radius: 50px;
    padding: 8px 16px;
}

.instruction__block_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 147%;
    text-align: center;
    color: #000;
    word-break: break-word;
}

@media (max-width: 1299px) {
    .instruction__block {
        max-width: 300px;
    }
}

@media (max-width: 919px) {
    .instruction__block {
        max-width: 100%;
        width: 100%;
    }

    .instruction__block_text {
        font-size: 14px;
    }
}

@media (max-width: 599px) {
    .block__header_step {
        font-size: 16px;
    }

    .instruction__block_text {
        font-size: 13px;
        text-align: left;
    }
}
