.not__found_wrapper {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.not__found_title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-h2);
    line-height: 112%;
    color: var(--color-dark-text);
}

.not__found_subtitle {
    margin-top: 32px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-h2);
    line-height: 112%;
    color: var(--color-black);
}

.not__found_text {
    margin-top: 32px;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-base);
    line-height: 112%;
    color: #4b4b4b;
}

.not__found_btn {
    margin-top: 32px;
}

@media (max-width: 919px) {
    .not__found_wrapper {
        flex-direction: column-reverse;
        text-align: center;
        gap: 24px;
    }

    .not__found_title {
        font-size: var(--font-size-h3);
    }

    .not__found_subtitle {
        margin-top: 16px;
        font-size: var(--font-size-h3);
    }

    .not__found_text {
        margin-top: 16px;
    }

    .not__found_btn {
        margin-top: 16px;
    }

    .not__found_wrapper img {
        max-width: 200px;
    }
}

@media (max-width: 599px) {
    .not__found_wrapper {
        padding-top: 24px;
    }

    .not__found_title {
        font-size: var(--font-size-lg);
    }

    .not__found_subtitle {
        font-size: var(--font-size-lg);
    }

    .not__found_text {
        font-size: var(--font-size-sm);
    }

    .not__found_wrapper img {
        max-width: 150px;
    }
}

@media (max-width: 499px) {
    .not__found_wrapper {
        padding-top: 16px;
    }

    .not__found_title {
        font-size: var(--font-size-md);
    }

    .not__found_subtitle {
        font-size: var(--font-size-md);
    }

    .not__found_wrapper img {
        max-width: 120px;
    }
}
